<div class="col-md-12">
  <div class="hero-image-container">
  <img 
    class="hero-image" 
    alt="Nillianstore" 
    src="/img/dev.webp" 
    fetchpriority="high"
    width="1200"
    height="630"
  >
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-3 p-md-5 text-center">
      <h1><strong><a href="{{ '/' | url }}">{{metadata.title}}</a></strong></h1>
      <h2>{{metadata.description}}</h2>
    </div>
  
  </div>
</div>
