<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url and page.url != "/" %}
    {%- set absoluteUrl %}{{ site.url }}{{ page.url | url }}{% endset %}
    {%- if absoluteUrl.startsWith(site.url) %}
  <url>
    <loc>{{ absoluteUrl | trim }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
  </url>
    {%- endif %}
  {%- endif %}
{%- endfor %}
</urlset>
